/* FUENTE ROBOTO: font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


/* MODAL */

.modal input{
    background: #2a3f54;
    color: #fff;
    border-color: #26B99A;
}


.modal select{
    background: #2a3f54;
    color: #fff;
    border-color: #26B99A;
}


.modal label{
    color: #fff;
}

.modal-title{
    color: #fff;
}

.modal input{
    height:40%;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
}


/* BOTONES  */


.modidev-btn{
    background: #2A3F54;
    color: #fff;
    border-radius:10px;
}

.modidev-btn:hover{
    background: #26B99A;
    color: #fff;
    border-radius:10px;
}

.modidev-enlinea{
  display: inline-block;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
}


/* TABLAS */

table thead tr th{
    vertical-align: middle;
}

div.dataTables_wrapper {
    margin: 0  auto;
}

.tableInModal table{
  /* background-color: #3c5875; */
}

.tableInModal thead tr{
  background-color:#3c5875;
  color: #fff;
  letter-spacing: 1px;
}

.tableInModal tbody tr{
  background-color:#ffffff;
  font-family: 'Roboto', sans-serif;
  color: #1C1C1C;
}



/* INPUT  */
input disabled{
    color: #000;
}

/* PERFILES OCUPACIONALES - GESTIÓN */

.perfilOcupacional input{
    border-color: #73879c;
}

.perfilOcupacional textarea{
    border-color: #73879c;
}
